---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="font-cinzel text-center text-5xl p-0 font-bold">
    <span class="text-negro-profundo">Sparta</span>
    <span class="text-dorado">GYM</span>
  </h1>
</Layout>
